body{
	background-image: url(Web.jpg);
}
#div1 , #div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#quiz_head{
	color: white;
}